.Buscador {
  background: #ffffff;
  border-radius: 30px;
  border: 3px solid #ffffff;
  margin: 0 24px;
  height: 30px;
  padding: 2px;
  width: calc(100% - 62px);
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.Buscador::placeholder {
  color: #000000;
  font-weight: 400;
}

.Buscador:focus {
  outline-color: orange;
}

